{% extends 'layout.html' %}
{% block title %}
    About
{% endblock %}

{% block content %}
<style>
h1 {
  font-weight: bold;
  color: #FF851B;
  font-size: 110px;
}
</style>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading">This is what we do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>We are a group who aim towards better management of natural disaster through our website.We aim to properly collect and manage resources so as to increase efficiency of rescue operation.Bacically our idea aim to bring together people from various parts of world so as minimize the damage caused by disaster.</p>
          <p>We have a special HELP! button to provide quick help to the person in danger.This can reduce the time delay in rescue and would be helpful to reduce losses.For better communication and interaction of people willing to help ,we will create chatroom corrsponding to every calamity which has occured.</p>
          <p>Many a times during the time of calamity flamily members get separated,the problem is even bigger if they are children.So through our website we have provision for a missing people section where people can put photos of the missing person so that the family members can meet again.</p>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}