{% extends 'layout.html' %}
{% block title %}
    About
{% endblock %}

{% block content %}
<style>
h1 {
  font-weight: bold;
  color: #FF851B;
  font-size: 110px;
}
</style>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading">This is what we do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>We are a group who aim towards better management of natural disaster through our website. Our aim is to bring together people from various parts of world to speed up the recovery process after the natural disaster.</p>
          <p>We have a special HELP! button, if pressed our website sends emails/distress signals to various agencies and NGOs. This can reduce the time delay in rescue and would be helpful to reduce loss of life. For better communication between people who are willing to help, we have created chatroom corrsponding to every calamity which has occured.</p>
          <p>Sometimes the family members of the missing person are left clueless about the missing person's whereabouts. The Found section of our website displays the people rescued during the rescue operation. Through this the family of the missing person can stay updated. This will also help the Army as it automates much of the task</p>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}