{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock %}

{% block head %}
<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    window.console.log(position.coords.latitude, position.coords.longitude);
    var URL = "{% url 'main:home' %}";
    var data = {'latitude': position.coords.latitude, 'longitude':position.coords.longitude};
    $.post(URL, data, function(response){
        if(response === 'success'){ alert('Help is on the way'); }
        else{ alert('Error! :('); }
    });
}



</script>


<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
<link href="/static/css/normalize.css" rel="stylesheet">
<link href="/static/css/vicons-font.css" rel="stylesheet">
{% endblock %}


{% block content %}

<style>
h1 {
  font-weight: bold;
  color: #FFDC00;
  font-size: 110px;
}
</style>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/home-bg.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <div class="box bg-4">

                        <button class="button button--moema button--text-thick button--text-upper button--size-s" onclick = "getLocation();" value="Get Location">HELP!!!</button>

				</div>
              <span class="subheading">Press the help button if you are stuck in a disaster</span>
            </div>
          </div>
          <p id="demo"></p>
        </div>
      </div>
    </header>




<div align="center">
    <h1>CHAT ROOMS</h1>
    <h3>This section provides chat room links to recent disasters. Join the room for extending help to the victims.</h3>
</div>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
          <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
            <a href="{% url 'chat:kerala_floods' %}">
              <h2 class="post-title">
                Kerala Floods
              </h2>
              <h3 class="post-subtitle">
                Link to Chat Room
              </h3>
          </div>
          <hr>


          <!-- Pager -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
            <a href="{% url 'chat:hurricane_michael' %}">
              <h2 class="post-title">
                Hurricane Michael
              </h2>
              <h3 class="post-subtitle">
                Link to Chat Room
              </h3>
          </div>
          <hr>


          <!-- Pager -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
            <a href="{% url 'chat:cyclone_titli' %}">
              <h2 class="post-title">
                Cyclone Titli
              </h2>
              <h3 class="post-subtitle">
                Link to Chat Room
              </h3>
          </div>
          <hr>


          <!-- Pager -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
            <a href="{% url 'chat:indonesian_tsunami' %}">
              <h2 class="post-title">
                Indonesia Tsunami
              </h2>
              <h3 class="post-subtitle">
                Link to Chat Room
              </h3>
          </div>
          <hr>


          <!-- Pager -->
        </div>
          </div>
      </div>
    </div>

    <hr>
{% endblock %}
