{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}

<style>
h1 {
  font-weight: bold;
  color: #FFDC00;
  font-size: 110px;
}
</style>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/home-bg.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <div class="box bg-4">
					<button class="button button--moema button--border-thick button--size-l">HELP</button>
				</div>
              <span class="subheading">A red help button</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div align="center">
    <h1>CHAT ROOMS</h1>
</div>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
          <div class="row">
          {% if disasters %}
            {% for disaster in disasters %}
        <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
            <a href="{% url 'chat:kerala_floods' %}">
              <h2 class="post-title">
                {{ disaster.title }}
              </h2>
              <h3 class="post-subtitle">
                Link to Chat Room
              </h3>
          </div>
          <hr>


          <!-- Pager -->
        </div>
          {% endfor %}
        {% endif %}
          </div>
      </div>
    </div>

    <hr>
{% endblock %}
