{% extends 'layout.html' %}
{% block title %}
    CHAT ROOM
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/post-sample-image.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>CYCLONE TITLI</h1>
              <h2 class="subheading">A chat room to extend help to the people affected by Cyclone Titli</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->

        <div class="col-lg-8 col-md-10 mx-auto">

            <iframe width="1100" height="1000" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="https://chatroll.com/embed/chat/cyclonetitli?id=-qupdYjHYdu&platform=html"></iframe>


          <!-- Pager -->


    </div>

    <hr>
{% endblock %}
